*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: #2b2a2c;
    font-family: 'Roboto', sans-serif;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #d53b47;
    border-radius: 0 0 1rem 1rem;
    padding: 1rem;
}

header img{
    margin-left: 52rem;
}

header nav{
    margin-left: 35rem;
}

header a{
    text-decoration: none;
    color: #FFF;
    font-size: 1rem;
    margin-right: 1rem;
    font-family: 'Roboto', sans-serif;
}

header a:hover{
    transition: .5s;
    color: black;
}

main{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 10rem;
    color: #FFF;
}

.Pokemon{
    text-align: center;
    background-color: #403d3d;
    border-radius: 1rem;
    padding-bottom: 2rem;
    padding-top: 1rem;
    margin-right: 4rem;
}

.Pokemon img{
    object-fit: contain;
}

.PokeNames{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Description{
    background-color: #2b2a2c;
    width: 15rem;
    height: 2rem;
    margin-top: 1rem;
    border-radius: 1rem;
    font-size: .8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.PokeInfos{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.PokeInfos h1{
    margin-bottom: 2.5rem;
    margin-top: 1.5rem;
}

.Status{
    display: flex;
    align-items: center;
    margin-bottom: 2.5rem;
}

.PokeInfosValues{
    display: flex;
    margin-left: 1rem;
    align-items: center;
}

.PokeInfosValuesHP{
    display: flex;
    margin-left: 1.5rem;
    align-items: center;
}

.PokeInfosValuesEXP{
    display: flex;
    margin-left: 1.2rem;
    align-items: center;
}

.PokeInfosValuesDEF{
    display: flex;
    margin-left: 1.2rem;
    align-items: center;
}

.PokeInfosValues span{
    padding: .3rem;
}

.HpRayquaza, .EXPRaquaza{
    background-color: #403d3d;
    padding-left: 14.04rem;
    border-radius: .3rem;
    height: 1.4rem;
    width: 18rem;
}

.ATKRayquaza{
    background-color: #403d3d;
    padding-left: 17rem;
    padding-right: 4.5rem;
    border-radius: .3rem;
    width: 17.5rem;
    height: 1.4rem;
}

.DEFRayquaza{
    background-color: #403d3d;
    padding-left: 10rem;
    margin-right: -2.1rem;
    border-radius: .3rem;
    width: 18rem;
    height: 1.4rem;
}

.SPDRayquaza{
    background-color: #403d3d;
    padding-left: 20rem;
    padding-right: 4.5rem;
    border-radius: .3rem;
    width: 18rem;
    height: 1.4rem;
}

.BackgroundPokeInfo{
    background-color: #FFF;
    height: 1.4rem;
    border-radius: .1rem .3rem .3rem .1rem;
    width: 18rem;
}

.BackgroundPokeInfoATK{
    background-color: #FFF;
    height: 1.4rem;
    width: 14.5rem;
    border-radius: .1rem .3rem .3rem .1rem;
}

.BackgroundPokeInfoDEF{
    background-color: #FFF;
    height: 1.4rem;
    width: 20rem;
    border-radius: .1rem .3rem .3rem .1rem;
}

.BackgroundPokeInfoSPD{
    background-color: #FFF;
    height: 1.4rem;
    width: 11.5rem;
    border-radius: .1rem .3rem .3rem .1rem;
}